body{
                background-color: #111;
                font-family: Arial;
            }

            img{
                border-radius: 10px;
            }

            a{
                color: cyan;
                text-decoration: none;
            }

            a:hover{
                text-decoration: underline;
            }
            .card{
                background-color: #d8d8d8;
                width: 300px;
                margin: 50px;
                padding: 20px;
                border-radius: 15px;
                float: left;
            }

            .card:hover{
                transform: scale(1.05);
                transition: 0.3s;
            }